package views

templ Index(){
@Base() {

<div class="card">
    <h1>Blazingly fast URL shortener</h1>
    <p>Shorten URLs and track clicks</p>
    <form action="/submit" method="post">
        <input type="url" id="url" name="url" placeholder="Enter URL here...">
        <button type="submit">Shorten URL</button>
    </form>
</div>
}

    
}
