package views 

templ Submission(url, baseurl string){

@Base() {
    <h1>Your url is: <code>{baseurl + "/" + url}</code></h1>

    <form action="/stats" method="post">
        <input type="hidden" id="id" name="id" value={url}>
        <button type="submit">Stats</button>
    </form>
}
}
